.btn{
    border: 1px solid transparent;
}

.btn:hover
{
background-image:none !important;
background-color:#00ed64 !important;
/* border-radius: 30px; */
border: 1px solid black;
transition : 0.275s ease-in-out;
color: black;
}


.btn1:hover
{
    color: #0089ff !important;
}

.btn2
{
background-image:none !important;
background-color: white !important;
color :black !important;
border: 1px solid transparent;
}

.btn2:hover
{
color:#00ed64 !important;
border: 1px solid black;
background-image:none !important;
transition : 0.275s ease-in-out;
border: 1px solid black;
/* margin : 30px 10px; */
/* padding : 20px 15px; */
}




