* { 
    margin: 0;
    padding: 0;
    box-sizing : border-box;
    outline: none;
}

@font-face {
    font-family:serif;
    src:url(https://static.mongodb.com/com/fonts/EuclidCircularA-Regular-WebXL.woff2) format('woff2');
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.head {
    position: fixed;
    display : flex;
    flex-wrap : wrap;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 4rem;
    padding: 0rem 1.5rem;                 /* padding: (top + bottom)px (left + right)px; */
    background-color: rgb(244, 237, 237);         /* #9ddffd */
    z-index: 100;
}

.headlogo {
    padding: 0rem 0rem;
}

.headlogo img {
    height: 3rem;
}

.headrow {
    display: flex;
    flex-wrap : wrap;
    align-items: center;
    position: relative;
    flex-direction: row;
    /* justify-content:space-evenly; */
    padding: 0rem 0rem;                           
}

.opening {
    display : flex;
    flex-wrap : wrap;
    align-items : center;

    justify-content : space-evenly;

    flex-direction : row-reverse;
    text-align: center;

    position: relative;
    top:4rem;

    padding: 1.25rem 0rem;
    
    color: #ec4535;
    background-color: #1b333b;
}

.opening img {
    display: flex;
    flex-wrap : wrap;
    position: relative;
    left: 2rem;
    height: 30rem;
}

.opening .set{
    display : flex;
    flex-wrap : wrap;
    align-items : center;
    text-align: center;
}

.partA {
    display : flex;
    flex-wrap : wrap;
    align-items : center;

    flex-direction: row;
    position: relative;
    top: 5rem;
    color: #ec4535;
    background-color: #1b333b;
    
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    margin-right: 30rem;

    z-index: 10;
}

.partA img {
    max-width: 100%;
    min-width: 15rem;
    height: auto;

}

.fun1 {
    display : flex;
    flex-wrap : wrap;
    align-items : center;  
    flex-direction: row;
    position: absolute;
    top: 37.75rem;
    height: 37rem;
    right: -25rem;
    background-color: #139741;
    color: transparent;  
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    margin-right: 50rem;
    z-index: 1;
}

.fun2 {
    display : flex;
    flex-wrap : wrap;
    align-items : center;  
    flex-direction: row;
    position: absolute;
    top: 37.75rem;
    height: 37rem;
    right: -30rem;
    background-color: #975e13;
    color: transparent;  
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    margin-right: 50rem;
    z-index: 0;
}

.oracle{
    display: flex;
    flex-wrap : wrap;
    align-items: center;
  
    position: relative;
    /* background-color: #00ed64; */
    height: 45rem;
    
  }
  
  .oracle-logo {
  
    position: relative;
    display : flex;
    align-self: center;
    align-items : center;
    justify-content : center;
    flex-wrap : wrap;
    flex-direction : column;
  
    height : 25rem; 
    width : 25rem;
  
    left: 5rem;
     
    background-color : #dc2023; /* #00684a; */
    color: #ffff;
  
    border-radius : 80px;
  
    z-index: 2;
  
  }
  
  .oracle-support {
    
    position: relative;
    display : flex;
    align-self: center;
    align-items : flex-start;
    justify-content : center;
    flex-wrap : wrap;
    flex-direction : column;
  
    /* text-align: center; */
  
    height : 30rem;
    width : 50rem;
      
    background-color : #F9F9F9;
    color: #023430;
  
    border-radius : 120px; 
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);  /* box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1); */
  
    z-index: 1;
  
    left: -2.5rem;
    
    bottom: -10rem;
  
  
  }
  
  .oracle .oracle-logo:hover{
    background-color: #16a085;
    color: #dc2023;
  }
  
  .oracle .oracle-logo:hover .oracle-support{
    background-color: #dc2023;
    color: #ffff;
  }



.op2{
    flex-direction : row;

}




/*Media Queries*/
/*Small Devices  -->  phones */
@media (max-width: 640px) {

    .head {
        position: relative;
        padding: 0.5rem 0rem;   
    }
    
    /* .headlogo {
           
    } */

    .headlogo img {
        width: 11.25rem;
        height: 3.75rem;
    }

    .headrow {
        display: none;
    }

    .headrow.show {
        width: 90%;
        min-height: 57vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1%;
        left: 2%;
        background: #FFF;
        justify-content: flex-start;
        box-shadow: 1px 1px 20px rgb(0 0 0 / 20%);
        border-radius: 0.5rem;
        padding-top: 1rem;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        transition-property: opacity, transform, -webkit-transform;
        -webkit-transform-origin: top right;
        transform-origin: top right;
        transform: scale(1);
        opacity: 1;
        padding: 0.75rem;
        z-index: 1;
    }

    .headrow.show > a, .headrow.show > div.dropdown {
        padding: 1rem;
        text-align: center;
    }

    .headrow.show div.dropdown-content {
        box-shadow: none !important;
        min-width: auto !important;
        position: relative !important;
        font-size: 1rem !important;
        font-weight: 600 !important;
        margin-top: 0;
        text-align: center;
    }

    .opening {
        justify-content : center;

        top: 0rem; 
    }

    .opening img{
        left: 0rem;
        
    }

    .partA{
        top: 0rem;
        margin-right: 0rem;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }

    /* .partA image{
        width: 20rem;
    } */

    .fun1 {
        display : none;
    }

    .fun2 {
        display : none;
    }

    .oracle {
        left: 0rem;
    }

    .oracle-logo {
        left: 0rem;
        height : 12.5rem; 
        width : 25rem;
        bottom: -2rem;
    }
       
    .oracle-support {
         
        left: 0rem;
        margin-block-start: -6.5rem;
        text-align: center;
        width: 32rem;
        height : 25rem;
        bottom: 2rem; 
       
    }

}



/*Media Queries*/
/*medium Devices  -->  tablets */

@media (max-width: 800px) {
    .head {
        padding: 0rem 0rem;
    }

    .headlogo {
        padding: 0rem 0rem;
    }
    
    .headlogo img {
        width: 11.25rem;
        height: 3.75rem;
    }


    .fun1 {
        display : none;
    }

    .fun2 {
        display : none;
    }

}